.search-results {
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
}

.search-results .search-card {
  position: relative;
  background-color: #d4d7dc;
  overflow: hidden;
  cursor: pointer;
}

.search-results .search-card:hover {
  background-color: #f3f4f7;
}

.search-results .search-card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: all 0.5s ease;
}

.search-results .details {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.search-results .details p {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* SEARCH FOOTER */

.search-footer {
  padding: 10px 20px;
}

.search-footer p {
  color: #000;
  margin-top: 20px;
}

.button-wrapper {
  width: 100%;
  text-align: center;
}

.button-wrapper button {
  background-color: #d55140;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.button-wrapper button:hover {
  background-color: #343537;
}
