.search-results {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  gap: 20px;
}

.search-results .search-card {
  position: relative;
  background-color: #d4d7dc;
  overflow: hidden;
}

/* .search-results .search-card:nth-child(7n+1) {
  grid-column: span 2;
  grid-row: span 2;
} */

.search-results .search-card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  transition: all 0.5s ease;
}

.search-results .details {
  width: 100%;
  text-align: left;
  padding-left: 10px;
  background: rgba(212, 211, 211, 0.6);
}

.search-results .details p {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
